{{- $params := .Params | merge .Site.Params.page -}}

<article class="summary" itemscope itemtype="http://schema.org/Article" {{ if ne .Site.Params.home.posts.imagePreview true }}data-image="hide"{{ end }}>
    {{- /* Featured image */ -}}
    {{- if .Site.Params.home.posts.imagePreview -}}
    {{- $image := $params.featuredimagepreview | default $params.featuredimage -}}
    {{- with .Resources.GetMatch "featured-image" -}}
        {{- $image = .RelPermalink -}}
    {{- end -}}
    {{- with .Resources.GetMatch "featured-image-preview" -}}
        {{- $image = .RelPermalink -}}
    {{- end -}}
    {{- with $image -}}
        <div class="featured-image-preview">
            <a href="{{ $.RelPermalink }}">
                {{- dict "Src" . "Title" $.Description "Resources" $.Resources | partial "plugin/image.html" -}}
            </a>
        </div>
    {{- end -}}
    {{- end -}}

    <div class="card-description">
        {{- /* Title */ -}}
        <h1 class="single-title" itemprop="name headline">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h1>
        <a href="{{ .RelPermalink }}">
            {{- with .Params.carddescription}}
                <h2 class="content-description">
                    {{ . | safeHTML}}
                </h2>
            {{- end -}}
        </a>
        <a href="{{ .RelPermalink }}">
            {{- with .Site.Params.home.posts.cardSummaryHeader -}}
                <h3 class="content-header">
                    {{ . | safeHTML }}
                </h3>
            {{- end -}}
        </a>

        {{- /* Summary content */ -}}
        <a href="{{ .RelPermalink }}">
            <ul class="content">
                {{- with .Params.cardSummary -}}
                    <li>{{ . | safeHTML }}</li>
                {{- end -}}
                {{- with .Params.cardSummary2 -}}
                    <li>{{ . | safeHTML }}</li>
                {{- end -}}
                {{- with .Params.cardSummary3 -}}
                    <li>{{ . | safeHTML }}</li>
                {{- end -}}
                {{- with .Params.cardSummary4 -}}
                    <li>{{ . | safeHTML }}</li>
                {{- end -}}
                {{- with .Params.cardSummary5 -}}
                    <li>{{ . | safeHTML }}</li>
                {{- end -}}
                {{- with .Params.cardSummary6 -}}
                    <li>{{ . | safeHTML }}</li>
                {{- end -}}
            </ul>
        </a>
        <a href="{{ .RelPermalink }}">
        {{- with .Site.Params.home.posts.cardSummaryFooter -}}
            <div class="content-sub">{{ . | safeHTML }}</div>
        {{- end -}}
        </a>
    </div>
    {{- /* Footer */ -}}
</article>
